
html {
    background-color: black;
}

  h1 {
    font-family: 'Parisienne';
    font-size: 60px;
    color: white;
  }


.homepageDescription {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #400080;
  }
  
  li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: #000000;
    background-color: #C5B4E3;
  }

  .active {
    background-color: #04AA6D;
  }

  .images {
    width: 425px;
    height: 425px;
    border-radius: 25%;
    white-space: nowrap;
    padding: 45px;
    position: relative;
    left: 20px;
  }

  .images:hover {
    background-size: 2%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: rotate 3.5s linear infinite;
    transform: scale(1.05);
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  .image-container {
    display: inline-block;
    margin-top: 35px;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
  }
  
  .caption-container {
    margin-top: 10px;
  }
  
  .caption {
    position: relative;
    top: 20px;
    margin-bottom: 40px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }