<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Parisienne">
<title>Add New Film</title>
</head>
<body>

<h1>Add New Film</h1>


<ul class = "navbarone">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('films') }}">Films</a></li>
  <li class = "active"><a href="{{ url_for('add_new_film') }}">Add New Film</a></li>
</ul>

<div style="display: flex; align-items: center; justify-content: center; padding-left: 20px;">

<form action="/add_new_film" method="POST" style="padding:20px;">
  <label for="film_id">Film ID:</label>
  <input type="text" name="film_id" required><br><br>
  <label for="viewing_at">Viewing At:</label>
  <input type="datetime-local" name="viewing_at" required><br><br>
  <label for="film_title">Film Title:</label>
  <input type="text" name="film_title" required><br><br>
  <label for="film_ticket_price">Ticket Price:</label>
  <input type="text" name="film_ticket_price" required><br><br>
  <label for="duration_min">Duration (min):</label>
  <input type="number" name="duration_min" required><br><br>
  <label for="film_director">Director:</label>
  <input type="text" name="film_director" required><br><br>
  <label for="film_rating">Rating:</label>
  <input type="text" name="film_rating" required><br><br>
  <input type="submit" value="Add New Artwork">
</form>

<form action="/update_film" method="POST" style="padding:20px;">
  <label for="film_id">Film ID:</label>
  <input type="text" name="film_id"><br><br>
  <label for="viewing_at">Viewing At:</label>
  <input type="datetime-local" name="viewing_at"><br><br>
  <label for="film_title">Film Title:</label>
  <input type="text" name="film_title"><br><br>
  <label for="film_ticket_price">Ticket Price:</label>
  <input type="text" name="film_ticket_price"><br><br>
  <label for="duration_min">Duration (min):</label>
  <input type="number" name="duration_min"><br><br>
  <label for="film_director">Director:</label>
  <input type="text" name="film_director"><br><br>
  <label for="film_rating">Rating:</label>
  <input type="text" name="film_rating"><br><br>
  <input type="submit" value="Update Artwork">
</form>



</div>
</body>
</html>