<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Parisienne">
<title>Antiquities webpage</title>
</head>
<body>

<h1>Add New Artwork</h1>


<ul class = "navbarone">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li class = "active"><a href="{{ url_for('artworks') }}">Artworks</a></li>
  <li><a href="{{ url_for('exhibitions') }}">Exhibitions</a></li>
  <li><a href="{{ url_for('members') }}">Members</a></li>
  <li><a href="{{ url_for('films') }}">Films</a></li>
  <li><a href="{{ url_for('gift_shop') }}">Gift Shop</a></li>
  <li><a href="{{ url_for('employees') }}">Employees</a></li>
</ul>

<form method="POST" style="padding:20px">
  <label for="artist">Artist:</label>
  <input type="text" name="artist" required><br><br>
  <label for="artwork_title">Artwork Title:</label>
  <input type="text" name="artwork_title" required><br><br>
  <label for="made_on">Made On:</label>
  <input type="date" name="made_on" required><br><br>
  <label for="object_type">Object Type:</label>
  <input type="text" name="object_type" required><br><br>
  <label for="object_number">Object Number:</label>
  <input type="text" name="object_number" required><br><br>
  <input type="file" id="art-img" name="art_img">
  <input type="submit" value="Add Artwork">
</form>
 

</div>
</body>
</html>