<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Parisienne">
<title>Add New Film</title>
</head>
<body>

<h1>Add New Gift Shop Item</h1>


<ul class = "navbarone">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('films') }}">Gift Shop</a></li>
  <li class = "active"><a href="{{ url_for('add_new_gift_shop_item') }}">Add New Gift Shop Item</a></li>
</ul>

<form action="add_item.php" method="post" style="padding:20px;">
    <label for="sku">SKU:</label>
    <input type="text" name="sku" required><br><br>
    <label for="name">Name:</label>
    <input type="text" name="name" required><br><br>
    <label for="type">Type:</label>
    <input type="text" name="type" required><br><br>
    <label for="price">Price:</label>
    <input type="text" name="price" required><br><br>
    <input type="submit" value="Add Item">
</form>



</div>
</body>
</html>