<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Parisienne">
<title>Artworks</title>
</head>
<style>
  div.gallery {
    border: 1px solid #ccc;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
    margin-bottom:  10px;
    width:70%;

  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    width:100%;
  
   
  }
  
  * {
    box-sizing: border-box;
    
   
  }
  
  .responsive {
    padding: 0 16px;
    float: right;
    width: 20%;

  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 70%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
  </head>
  <body>

<h1>Artworks</h1>
<ul class = "navbarone">
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li class = "active"><a href="{{ url_for('artworks') }}">Artworks</a></li>

    {% if user and user == 'ADMIN' %}
    <li><a href="{{ url_for('add_new_artwork') }}">Add New Artwork</a></li>
    {% endif %}

  <li class="topnav"><input type="text" placeholder="Search..."></li>
</ul>

<p class = "homepageDescription" style="text-align: center;"> The Museum of Arts, Houston, houses an encyclopedic collection of nearly 70,000 works of art created throughout the world, 
from antiquity to the present. Explore the Museums art collections through this searchable database, which is continually being updated. Browse to discover 
art across time periods, cultures, classifications, and more. 
Then visit the Museum to experience your favorites in person.</p>
  
 

<p style="text-align: center; padding-left: 40px; padding-left: 40px; padding-top: 0px; padding-bottom: 0px;">
  <div class="responsive" >
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_5terre.jpg')}}">
        <img src="{{ url_for('static', filename='/img/artwork1.png')}}" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">George Inness<br>
        Landscape<br>
        1866<br>
        Oil on canvas<br>
        AL.15</div>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
        <img src="{{ url_for('static', filename='/img/artwork2.png')}}" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Jules Dupre<br>Under the Storm<br>19th century<br>Oil on canvas<br>2023.104<br></div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_mountains.jpg')}}">
        <img src="{{ url_for('static', filename='/img/artwork3.png')}}" alt="lion" width="600" height="400">
      </a>
      <div class="desc">Jean-Leon Gerome<br>Tiger on the Watch<br>c. 1888<br>Oil on canvas<br>AL.21</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
        <img src="{{ url_for('static', filename='/img/artwork4.png')}}" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Saul Steinberg<br>Georgetown<br>1975<br>Lithograph on Rives<br>  2023.89<br></div>
    </div>
  </div>



  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
        <img src="{{ url_for('static', filename='/img/artwork6.png')}}" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">David Barbero<br>Untitled (Taos River)<br>1989<br>Woodcut in colors on wove paper<br>2023.84<br></div>    
  </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
        <img src="{{ url_for('static', filename='/img/a9.png')}}" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Sergio Moyano<br>Indian Summer N.M.<br>1989<br>Monotype on wove paper<br>2023.85<br></div>    
  </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
        <img src="{{ url_for('static', filename='/img/a8.png')}}" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Dale Chihuly<br>Venetian Drawing<br>1993<br>Acrylic on wove paper<br>2023.87<br></div>  
    </div>
    </div>

    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
          <img src="{{ url_for('static', filename='/img/a10.png')}}" alt="Forest" width="600" height="400">
        </a>
        <div class="desc"> Nick Cave<br>Big Floral<br>2022<br>Olefin and osnaburg<br>2023.101<br></div>      </div>
      </div>

      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
            <img src="{{ url_for('static', filename='/img/a12.png')}}" alt="Forest" width="600" height="400">
          </a>
          <div class="desc">Kurt Kemp<br> Portrait of a Friend<br>2001<br> Gouache on newsprint<br>2023.93<br></div>      </div>
        </div>

        <div class="responsive">
          <div class="gallery">
            <a target="_blank" href="{{ url_for('static', filename='img_forest.jpg')}}">
              <img src="{{ url_for('static', filename='/img/a7.png')}}" alt="Forest" width="600" height="400">
            </a>
            <div class="desc"> Tadanori Yokoo<br>Metallic Nature<br>2001<br>Collage<br>2023.94<br></div>      </div>
          </div>
       
  


 

</p>
</body>
</html>