{% macro navbar(endpoint, name ) %}
    {% if request.endpoint.endswith(endpoint) %}
        <li class = "active"><a href="{{ url_for('home') }}">Home</a></li>
    {% else %}
    <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
    {% endif %}
{% endmacro %}

{% macro image_contain(endpoint, image, caption) %}
<div class="image-container">
    <a href="{{ url_for(endpoint) }}">
      <img class="images" src="{{ url_for('static', filename=image) }}"> 
    </a>
    <div class="caption-container">
      <div class="caption">{{caption}}</div>
    </div>
  </div>
{% endmacro %}

{% macro art_format(obj_num, name, title, year, type, image_id) %}
<div class="responsive" >
    <div class="gallery">
      <a>
        <img src="/image/{{image_id}}" alt="{{name}}" width="600" height="400">
      </a>
      <div class="desc">
        {{name}}<br>
        {{title}}<br>
        {{year}}<br>
        {{type}}<br>
        {{obj_num}}</div>
    </div>
  </div>
{% endmacro %}

{% macro film_format(endpoint,viewing_at,director, title, image_id) %}
<div class ="column">
  <div class = "row" style="padding-left: 20px;">
    <p> 
      <img src="/image/{{image_id}}"  alt="{{title}}" style="width:200px; height:250px; float: left; padding-right: 10px;" />
      <h3 style="margin-bottom:3px">{{title}}</h3>
        <p style="text-align: left; padding-bottom: 10px;">
        by {{director}}.
        </p>
      <p style="margin-top: 0;margin-bottom:2px">
        <b>{{viewing_at.strftime("%B %d, %Y")}}</b>
        <button class = "button button1"><a href="{{url_for(endpoint)}}">Showtime - 5 p.m.</a></button></p></p>
    </p>
  </div>
{% endmacro %}