<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Parisienne">
<title>Museum Database Homepage</title>
</head>

<body>
<h1 vertical-align="center" style="padding-left: 20px;">Museum Database</h1>
<!-- {% if user %}
<li><a href="{{ url_for('add_new_artwork') }}">Add New Artwork</a></li>
{% endif %} -->
<ul class = "navbarone">
    <li class = "active"><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('artworks') }}">Artworks</a></li>
    <li><a href="{{ url_for('exhibitions') }}">Exhibitions</a></li>
    <li><a href="{{ url_for('films') }}">Films</a></li>
    <li><a href="{{ url_for('gift_shop') }}">Gift Shop</a></li>
    <li><a href="{{ url_for('members') }}">Members</a></li>
    <li><a href="{{ url_for('employees') }}">Employees</a></li>
    <li><a href="{{ url_for('login') }}">Log in</a></li>
    <li><a href="{{ url_for('signup') }}">Sign up</a></li>
  </ul>

  <p class = "homepageDescription" style="text-align: center;">Welcome to the Museum Database. Here, you can find links to webpages 
  containing data about various aspects of the museum, including 
  artworks, exhibitions, ticket sales, and more.</p>

  
    <div class="image-container">
    <a href="{{ url_for('artworks') }}">
      <img class="images" src="{{ url_for('static', filename='/img/art3.jpeg') }}"> 
    </a>
    <div class="caption-container">
      <div class="caption">Artworks</div>
    </div>
  </div>


  <div class="image-container">
    <a href="{{ url_for('exhibitions') }}">
      <img class="images" src="{{ url_for('static', filename='/img/exhibit.png') }}">
    </a>
    <div class="caption-container">
      <div class="caption">Exhibitions</div>
    </div>
  </div>
  
  <div class="image-container">
    <a href="{{ url_for('members') }}">
      <img class="images" src="{{ url_for('static', filename='/img/mems.jpeg') }}">
    </a>
    <div class="caption-container">
      <div class="caption">Members</div>
    </div>
  </div>
 
  <div class="image-container">
    <a href="{{ url_for('films') }}">
      <img class="images" src="{{ url_for('static', filename='/img/films.webp') }}">
    </a>
    <div class="caption-container">
      <div class="caption">Films</div>
    </div>
  </div>

  <div class="image-container">
    <a href="{{ url_for('gift_shop') }}">
      <img class="images" src="{{ url_for('static', filename='/img/mfah_shop.png') }}">
    </a>
    <div class="caption-container">
      <div class="caption">Gift Shop</div>
    </div>
  </div>

  <div class="image-container">
    <a href="{{ url_for('employees') }}">
      <img class="images" src="{{ url_for('static', filename='/img/emps.jpeg') }}">
    </a>
    <div class="caption-container">
      <div class="caption">Employees</div>
    </div>
  </div>
  


</body>
</html>