<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
    </head>
   <body>
    <div class="login">
        <form action = "/login" method = 'POST'>
            <p><h3>Please enter your email and password to sign in.</h3></p>
            <label for="user_email"> </label>
            <p><input type = "text" name = "user_email" placeholder="Email" id = "email" required/></p>
            <label for="user_password"> </label>
            <p><input type = "text" name = "password" placeholder="Password" id ="password" required/></p>

           <p><input type = "submit" value = "Login" /></p>
        </form>
    </div>
   </body>
</html>