<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Parisienne">
        <meta charset="utf-8">
        <title>Login Page</title>
        <style>
        body {
            margin: 0;
            padding: 0;
        }
        
        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .boxed {
            border: 2px solid black;
            padding: 20px;
            text-align: center;
        }

        .login form {
            margin: auto;
        }
        </style>
    </head>
    <body style="background-image: url({{ url_for('static', filename='img/gray.jpeg') }}); background-size: cover;">
        <div class="info" style="display: flex; justify-content: center; align-items: center;">
            <div class="boxed">
                <h1 style="font-size: 40px; color: crimson;"> Welcome to The Archive Arts Museum</h1>
                <div class="login">
                    <form action="/login" method="POST">
                        <p><h3 style="color:black;">Please enter your email and password.</h3></p>
                        <input type="email" name="user_email" placeholder="Email" id="email" required />
                        <input type="password" name="user_password" placeholder="Password" id="password" required />
                        <p><input type="submit" value="Login" style="padding:5px"/></p>
                    </form>
                </div>
                <div>
                    <p><a href="{{ url_for('registration') }}" style="color:black;">Don't have an account? Register here.</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
