<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='img/gray.jpeg') }}); background-size: cover;">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Parisienne">
        <meta charset="utf-8">
        <title>Registration Page</title>
        <style>
            .info {
                width: 100%;
                max-width: 800px;
                margin: 15% auto 0;
                text-align: center;
            }
            .boxed {
                border: 2px solid black;
                padding: 10px;
            }
        </style>
    </head>

    <body>
        <div class="info">
            <div class="boxed">
                <h1 style="font-size: 40px;color: crimson;"> Welcome to The Archive Arts Museum </h1>
                <div class="register">
                    <form action="/registration" method="POST">
                        <p><h3 style="color:black;">Please enter your first name, last name, email, and password.</h3></p>
                        <input type="text" name="user_fname" placeholder="First Name" required />
                        <input type="text" name="user_lname" placeholder="Last Name" required />
                        <input type="email" name="user_email" placeholder="Email" required />
                        <input type="password" name="user_password" placeholder="Password" required />
                        <br>
                        <label for="bdate">Date of Birth</label>
                        <input type="date" name="bdate"><br><br>
                        <p><input type="submit" value="Register" style="padding:5px"/></p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
