<!DOCTYPE html>
<html style="background-image: url({{ url_for('static', filename='img/silver.jpg') }}); background-size: cover;">
    <head>
        <title>Gift Item Report</title>
    </head>

    <ul class = "navbarone">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li class="topnav"><input type="text" placeholder="Search..."></li>
      </ul>
    
    <body>
        <div class="item-name">
            <form action=/report_gifts method = 'GET'>
                <p><h3>Please enter the gift's item name.</h3></p>
                <p><input type = "text" name = "gift-name" placeholder="Item Name" id = "gift-name" required/></p>
                <label for="start">Start:</label>
                <input type="date" id="start" name="start-date">
                <label for="end">End:</label>
                <input type="date" id="end" name="end-date">
               <p><input type = "submit" value = "Grab Report" /></p>
            </form>
        </div>
    </body>
        <table>
            <tbody>
                {% if data%}
                    <tr>
                        <h3>This table shows how many of an item were sold in a day.</h3>
                        <th>SKU</th>
                        <th>Gift Name</th>
                        <th>Price</th>
                        <th>Date</th> 
                    </tr>
                    {% for item in data %} 
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <br>
                        </tr>
                    {% endfor %} 
                {% else %}
                    <div>{{msg}}</div>
                {% endif %}
            </tbody>
        </table>
</html>